
#
# Genreal
#
CONFIG_NR_CPUS=4
CONFIG_ZEPTOS_BANNER_EXTRA="v0.0.0"
# CONFIG_NOPRINTK is not set
# end of Genreal

#
# Platform DTS
#
CONFIG_DTS_STATIC=y
CONFIG_DTS_NS16550_ADDR=0x10000000
CONFIG_DTS_NS16550_REG_SHIFT=2
CONFIG_DTS_NS16550_REG_WIDTH=4
CONFIG_DTS_CLINT_ADDR=0x0b000000
CONFIG_DTS_CPUS_COMPATIBLE="riscv"
CONFIG_DTS_CPUS_ISA="rv64imafdc"
CONFIG_DTS_CPUS_MMU="riscv,sv39"
# end of Platform DTS
